@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

@media all and (max-width:1000px) {
    .mobile{
        position: relative;
        width: 100%;
        height: 1800px;
        
        background: #3A3A3A;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .header .link{
        order: 1;
        
        margin: 30px auto 30px auto;
    }
    .header .header_icon{
        order: 2;
        height: 30%;
        margin: 30px auto 0px auto;
    }
    .header .header_div{
        order: 3;
        
        margin: 20px auto 50px auto;
    }
    .header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;

        color: #FFFFFF;

        /* Text Shadow */
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .header_text.h1{
        font-size: 40px;
        line-height: 30px;

        margin-left: 50px;
        margin-bottom: 40px;

        width: 100%;
    }
    .header_text.p{
        font-size: 20px;
        line-height: 28px;
        margin-left: 15px;
    }
    
    .button{
        display: inline;
    }
    .test{
        margin-left: 40px;
    }
    .icon{
        width: 30px;
        height: 30px;
        margin-left: 3px;
        margin-right: 5px;
    }
    .icon_label{
        display: inline;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;

        color: #FFFFFF;
    }
    .line{
        color: #606060;
        border: thin solid #606060;
    }

    .setting{
        display: flex;
        flex-direction: column;
    }
    .autocomplete_type{
        order: 1;
        
        margin: 40px;
    }
    .choose_theme{
        order: 2;
    }
    .autocomplete_type_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 0px;

        color: #FFFFFF;
    }
    .group_1{
        float: left;
    }
    .group_2{
        float: left;
        margin-left: 20px;
    }
    .radio_text{
        float: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;

        color: #FFFFFF;
    }
    input[type='radio']{
        float: left;
        
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: #808080;
        opacity: 0.2;
        border-radius: 50%;
        height: 20px;
    }


    .choose_theme{
        margin-left: 40px;
    }

    .choose_theme_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 175% */


        color: #FFFFFF;
    }

    #model{
        width: 60%;
        padding: 0.9em .8em;
        opacity: 0.9;
        background-color: #3A3A3A;
        color: #FFFFFF;
        /* white */
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
        border-radius: 10px;

        font-size: 17px;
        position: relative;
        top: -8px;
    }

    #menu {
        display: none;
        width: 200px;
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        border-radius: 5px;
        list-style: none;
        box-shadow:
            0 15px 35px rgba(130, 130, 161, 0.1),
            0 5px 15px rgba(0,0,0,0.07);
        overflow: hidden;
        z-index: 999999;
    }

    .description{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

        margin-left: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .trigger{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        margin-bottom: 30px;
    }
    .rectangle{
        height: 60px;
        width: 202px;
        left: 0px;
        top: 0px;
        border-radius: 10px;
        
        background: #1A1B1F;
        border-radius: 10px;
    }
    .rectangle:hover{
        box-shadow: 200px 0 0 0 rgba(133,76,255,1) inset, -200px 0 0 0 rgba(133,76,255,1) inset;
    }
    .rectangle_text{
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;

        color: #FFFFFF;
    }

    .or{
        margin: 20px 10px;

        color: #FFFFFF;
    }

    .rectangle_tab{
        position: relative;
        padding: 5px;

        height: 27px;
        width: 50px;
        background: #9190AE;
        /* Button inner shadow */

        margin-top: 2.5%;
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .tab_icon{
        display: inline;
        margin-left: 3px;
    }

    .rectangle_tab_text{

        display: inline;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;

        /* identical to box height */


        color: #FFFFFF;
    }
    .editor{
        padding: 50px 20px 0 30px; 
        border: 1px solid black;

        width: 94.2%;
        height: 500px;

        margin-top: 3%;

        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        word-spacing: 6px;

        /* dark */
        background: #1A1B1F;
        color: #FFFFFF;
        opacity: 0.5;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .share_icon{
        margin-left: 41.7%;
        margin-bottom: 50px;
    }
    .share_link{
        margin-left: 23%;
    }
    .share_text {      
        text-align: center;
        
        margin-top: 50px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;

        color: #FFFFFF;
    }
}

@media all and (min-width:1025px) {
    .desktop {
        position: relative;
        width: 100%;
        height: 1300px;

        top: 0;
        background: #3A3A3A;
    }
    .header{
        position: fixed;
        width: 98.8%;
        top: 0;

        z-index: 2;
        background-color: #3A3A3A;
    }
    .title {
        display: flex;
    }
    .header_div {
        margin-top: 30px;
        margin-left: 20px;
        float: left;
    }
    .header_icon{ 
        margin-top: 30px;
        margin-left: 50px;
        float: left;
    }

    .header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;

        color: #FFFFFF;

        /* Text Shadow */
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .header_text.h1{
        font-size: 36px;
        line-height: 50px;

        margin: 0px 0px;

        width: 100%;
    }
    .header_text.p{
        font-size: 16px;
        line-height: 28px;
    }

    .link{
        margin-left: 37%;
    }
    .button{
        float: left;
        padding: 5px;
        margin: 5px;
        
        width: 95px;
        height: 30px;

        margin-top: 28%;

        border: 1px solid #606060;
        box-sizing: border-box;
        border-radius: 25px;
    }
    .test{
        width: 120px;
    }
    .icon{
        float: left;

        width: 18px;
        height: 18px;
        margin-left: 3px;
        margin-right: 5px;
    }
    .icon_label{
        display: inline;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;

        color: #FFFFFF;
    }
    
    .line{
        color: #606060;
        border: thin solid #606060;
    }


    .contents{
        display: flex;

        position: absolute;
        width: 100%;
        height: 800px;
        left: 7%;
        top: 15%;
    }
    .choose_type{
        margin: 1%;
    }

    .option{
        position: relative;
        top: -20px;
    }
    .autocomplete_type_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;

        color: #FFFFFF;
    }
    .group_1{
        float: left;
    }
    .group_2{
        float: left;

        margin-left: 5%;
    }
    .radio_text{
        float: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;

        color: #FFFFFF;
    }
    input[type='radio']{    
        cursor: pointer;
        float: left;


        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: #808080;
        opacity: 0.2;
        border-radius: 50%;
        height: 2%;
    }
    input[type='radio']:checked::after{
        opacity: 1;
        box-sizing: border-box;
        border-radius: 50%;

        /* light violet */
        background-color: #AD87FF;
    }
    .choose_theme{
        position: absolute;
        margin-top: 3%;
        width: 23%;
    }

    .choose_theme_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 175% */


        color: #FFFFFF;
    }

    #model{
        width: 60%;
        padding: .5em .5em;
        opacity: 0.9;
        background-color: #3A3A3A;
        color: #FFFFFF;
        /* white */
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
        border-radius: 10px;

        position: relative;
        top: -8px;
    }

    #menu {
        display: none;
        width: 200px;
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        border-radius: 5px;
        list-style: none;
        box-shadow:
            0 15px 35px rgba(130, 130, 161, 0.1),
            0 5px 15px rgba(0,0,0,0.07);
        overflow: hidden;
        z-index: 999999;
    }

    .description{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

        margin-left: 1%;
        margin-top: 5%;
        margin-bottom: 15%;

        color: #FFFFFF;

        opacity: 0.7;
    }

    .trigger{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    }
    .rectangle{
        height: 60px;
        width: 202px;
        left: 0px;
        top: 0px;
        border-radius: 10px;
        
        background: #1A1B1F;
        border-radius: 10px;
    }
    .rectangle:hover{
        box-shadow: 200px 0 0 0 rgba(133,76,255,1) inset, -200px 0 0 0 rgba(133,76,255,1) inset;
    }
    .rectangle_text{
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;

        color: #FFFFFF;
    }

    .or{
        margin: 20px 10px;

        color: #FFFFFF;

    }

    .rectangle_tab{
        position: relative;

        height: 10%;
        width: 17%;
        background: #9190AE;
        /* Button inner shadow */

        margin-top: 3%;
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .tab_icon{
        position: absolute;
        top: 40%;
        left: 10%;
    }

    .rectangle_tab_text{

        margin-right: 14%;
        text-align: right;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;

        /* identical to box height */


        color: #FFFFFF;
    }

    .editor{
        padding: 20px 20px; 
        border: 1px solid black;

        width: 56%;
        height: 700px;

        margin-left: 10%;
        margin-top: 3%;

        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        word-spacing: 6px;

        /* dark */
        background: #1A1B1F;
        color: #FFFFFF;
        opacity: 0.5;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .con_share{
        position: absolute;
        bottom: 100px;

        width: 500px;
        height: 200px;

        bottom: 4%;
        left: 34%;
    }

    .share_text { 
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;

        text-align: center;

        color: #FFFFFF;
    }
    
    .share_icon{
        position: absolute; 
        left: 33.5%;
    }
    .share_link{
        position: absolute; 
        bottom:0; 
        right:5%;
    }

    #menu li {
        border-left: 3px solid transparent;
        transition: ease .2s;
    }

    #menu li a {
        display: block;
        padding: 10px;
        color: #000000;

        text-decoration: none;
        transition: ease .2s;
    }

    #menu li:focus {
        background: #808080;
        border-left: 3px solid #606060;
    }
    #menu li:focus a {
        color: #FFFFFF;
    }
}


