@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    overflow-x:hidden;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
    background-color: #3A3A3A;

    margin: auto;
}

h1 {
    font-size: 36px;
    line-height: 50px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

p.bold {
    font-weight: bold;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 2;
    background-color: #3A3A3A;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid;
    border-bottom-color: #606060;
}

.title .header_div {
    /* Text Shadow */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
}

.title .header_icon {
    margin: 5px 0 5px 22px;
    padding: 22px;
}

.title a {
    font-size: 36px;
    line-height: 50px;

    color: #FFFFFF;
    text-decoration: underline;
}

.title .link {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 50px;
}

.title .link a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 134px;
    height: 40px;

    border: 1px solid #606060;
    border-radius: 25px;
    
    margin: 6px;
    cursor: pointer;

    text-decoration:none;
    color: #FFFFFF;
}

.title .link a:hover {
    background-color: #606060;
}

.title .link a:active {
    background-color: #808080;
}

.title .link img {
    padding: 0 6px 0 6px;
}

.contents{
    display: flex;
    flex-direction: row;
    
    max-width: 1280px;
    height: 800px;
    margin: 160px auto 0 auto;
}

.autocomplete_type {
    display: flex;
    flex-direction: column;
}

.autocomplete_type .option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.autocomplete_type .option .radio_text {
    margin-right: 20px;
}

.choose_type {
    width: 380px;
    margin-right: 40px;
}

.choose_theme {
    margin-top: 32px;
}

.choose_theme select {
    margin: 8.8px 0;
}

.choose_theme .description {
    font-size: 14px;
    line-height: 20px;

    opacity: 0.6;
}

#model{
    cursor: pointer;
    width: 60%;
    padding: .5em .5em;
    opacity: 0.9;
    background-color: #3A3A3A;
    /* white */
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    position: relative;
}

#model:focus{
    outline-color: #A56BEE;
}

.trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 40px;
}

.or {
    margin: 20px 10px;
}
.tab_text, .tab_text p{
    display: inline;
    margin-top: 15px;
    font-size: 13px;
    line-height: 28px;
}
.tab_text p{
     color:#A56BEE;
}
.tab_icon{
    margin-top: 21px;
}

.editor {
    width: 100%;

    padding: 50px 50px; 
    border: 1px solid black;

    font-size: 16px;
    line-height: 28px;

    word-spacing: 6px;

    /* dark */
    background: #1A1B1F;
    opacity: 0.5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.editor:focus{
    outline-color: #A56BEE;
}
.con_share {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 64px;
}

.share_icon {
    margin-top: 30px;
    margin-bottom: 64px;
}

.share_icon a {
    margin: 0 10px;
    text-decoration: none;
}

.footer_git {
    cursor: pointer;
}
.footer_ainize {
    cursor: pointer; margin-left: 40px;
}

#menu {
    display: none;
    width: 200px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border-radius: 5px;
    list-style: none;
    box-shadow:
        0 15px 35px rgba(130, 130, 161, 0.1),
        0 5px 15px rgba(0,0,0,0.07);
    overflow: hidden;
    z-index: 999999;

    line-height: 150%;
}

.rectangle{   
    cursor: pointer;
    height: 60px;
    width: 202px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #1A1B1F;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.rectangle:hover{
    background: #854CFF;
}
.rectangle:active{
    background: #6535CC;
}

.footer_link:hover img{
    content: url(../static/images/footer_link_hover.svg);
}
.footer_facebook:hover img{
    content: url(../static/images/footer_facebook_hover.svg);
}
.footer_twitter:hover img{
    content: url(../static/images/footer_twitter_hover.svg);
}

.share_link {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.share_link h4 {
    font-size: 12px;
    font-weight: 600;
    color: #8E8E94;
}

.share_link a {
    text-decoration:none;
}

.share_link a div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

.share_link img {
    margin-right: 5.5px;
}

#badge{
    position: fixed; 
    bottom: 40px; 
    right: 40px; 
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25)); 
    cursor:pointer;
}

#menu li {
    border-left: 3px solid transparent;
    transition: ease .2s;
}

#menu li a {
    display: block;
    padding: 10px;

    font-weight: bold;
    color: #000000;

    text-decoration: none;
    transition: ease .2s;
}

#menu li:focus, #menu li:hover{
    background: #808080;
    border-left: 3px solid #606060;
}

@media (max-width:1140px) {
    .contents {
        max-width: 1060px;
        width: 90%;
    }
}

@media (max-width:424px) {
    .header {
        position: relative;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title .header_div {
        order: 2; 
        flex-direction: column;
        width: 80%;
    }

    .title .header_icon {
        margin: 22px 0 0 0;
        padding: 22px;
    }

    .title .header_div div {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 52px;
        text-align: center;
    }

    .title .header_div div * {
        padding: 16px 0;
    }

    .title .link {
        order: 1;
        align-self: center;
        margin: 6px 0 6px 0;
    }

    .title .header_div h1 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .title .header_div p {
        font-size: 14px;
        line-height: 20px;
    }

    .contents {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 0;
        height: unset;
    }

    .choose_type {
        width: 100%;
    }
    .setting{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .description{
        margin: 0;
    }

    .or{
        display: none;
    }
    .rectangle{
        position:fixed;
        z-index: 10000;
        bottom:10px;
	    right:10px;
    }

    .rectangle_tab{
        display: none;
    }
    .tab_icon{
        display: none;
    }
    .tab_text{
        display: none;
    }
    .rectangle_tab_text{
        display: none;
    }
    
    .editor{
        width: unset;
        padding: 25px;
        height: 500px;
    }

    .share_icon {
        margin-bottom: 16px;
    }

    .share_link {
        flex-direction: column;
        align-items: center;
        margin: 14px 0 80px 0;
    }
    
    .share_link a {
        margin: 8px 0;
    }

    #badge{
        position: relative;
        left: 0;
        right: 0;
    }
}
