@import 'reset.css';
@import 'loader.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

:root {
    --btn-color-primary: rgba(133, 76, 255, 1);
    --btn-color-hover: rgba(101, 53, 204, 1);
    --btn-color-click: rgba(101, 53, 204, 1);
    --btn-color-disable: rgba(133, 76, 255, 0.2);
}

body {
    overflow-x:hidden;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
    background-color: #3A3A3A;

    margin: auto;
}

h1 {
    font-size: 36px;
    line-height: 50px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

p.bold {
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 2;
    background-color: #3A3A3A;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid;
    border-bottom-color: #606060;
}

.title .header_div {
    /* Text Shadow */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
}

.title .header_icon {
    margin: 5px 0 5px 22px;
    padding: 22px;
}

.title a {
    font-size: 36px;
    line-height: 50px;

    color: #FFFFFF;
    text-decoration: underline;
}

.title .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 120px;
}

.title .link a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 134px;
    height: 40px;

    border: 1px solid #606060;
    border-radius: 25px;

    margin: 6px;
    cursor: pointer;

    text-decoration:none;
    color: #FFFFFF;
}

.title .link a:hover {
    background-color: #606060;
}

.title .link a:active {
    background-color: #808080;
}

.title .link img {
    padding: 0 6px 0 6px;
}

.title .link a.link_event {
    background: linear-gradient(180deg, #6535CC 0%, #B366FF 100%);
}

.title .link a:hover.link_event {
    background: linear-gradient(180deg, #5626BD 0%, #8C43D5 100%);
}

.title .link a:active.link_event {
    background: #7F43CB;
}

.contents {
    display: none;
    flex-direction: row;

    max-width: 1280px;
    height: 800px;
    margin: 160px auto 0 auto;
}

.autocomplete_type {
    display: flex;
    flex-direction: column;
}

.autocomplete_type .option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.autocomplete_type .option .radio_text {
    margin-right: 20px;
}

.choose_type {
    width: 550px;
    margin-right: 40px;
}

.choose_theme {
    margin-top: 32px;
}

.choose_theme select {
    margin: 8.8px 0;
}

.choose_theme .description, .choose_theme a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;

    opacity: 0.6;
}
.choose_theme a {
    margin-top: 8px;
}
.choose_theme a:hover {
    opacity: 1;
}

#model {
    border: 0 !important;
    background-color: #3A3A3A;

    display: flex;
    overflow: hidden;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
    padding-left: 0.9em;
    border-radius: .7em;
}
#model:hover {
    cursor: pointer;
}
#model:focus {
    outline-color: #A56BEE;
}
.select {
    margin-top: 10px;
    margin-bottom: 15px;

    position: relative;
    width: 60%;
    line-height: 2;
    border-radius: .5em;
    outline: #FFFFFF 10px;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}
.select::after {
    content: '\25BC';
    font-size: 11px;
    position: absolute;
    top: 6px;
    right: 0;
    padding: 0 14px;
    border-radius: .25em;
    background:  #3A3A3A;
    pointer-events: none;
}
.select:hover::after {
    color: #A56BEE;
}

.trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 40px;
}

.or {
    margin: 20px 10px;
}

.tab_text p {
    display: block;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
}
.tab_text > div {
    display: flex;
    align-items: center;
}
.nlp_description {
    margin-top: 50px;
}
.nlp_description > div {
    display: flex;
    align-items: center;
}
.nlp_description > div h4 {
    font-size: 16px;
}
.tab_icon {
    margin-top: 21px;
}

.editor {
    width: 100%;

    padding: 50px 50px;
    border: 1px solid black;

    font-size: 16px;
    line-height: 28px;

    word-spacing: 6px;

    /* dark */
    background: rgba(26, 27, 31, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);

    position: relative;
    overflow-y: auto;
}
.editor p {
    opacity: 0.5;
}

.loader {
    position: absolute;
}

.loader.hide {
    display: none;
}

.focus-ring {
    outline-style: auto;
    outline-color: #A56BEE;
}


.ql-editor {
    white-space: pre-wrap!important;
    outline: none;
    height: 90%;
}

.ql-clipboard {
    visibility: hidden;
}

.con_share {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.share_icon {
    margin-top: 30px;
    margin-bottom: 64px;
}

.share_icon a {
    margin: 0 10px;
    text-decoration: none;
}

.footer_git {
    cursor: pointer;
}
.footer_ainize {
    cursor: pointer; margin-left: 40px;
}

#menu {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border-radius: 5px;
    list-style: none;
    box-shadow:
        0 15px 35px rgba(130, 130, 161, 0.1),
        0 5px 15px rgba(0,0,0,0.07);
    overflow: hidden;
    z-index: 999999;

    line-height: 150%;

    position: absolute;
}

button {
    cursor: pointer;
    height: 60px;
    width: 202px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--btn-color-primary);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

button:hover {
    background-color: var(--btn-color-hover);
}

button:active {
    background-color: var(--btn-color-click);
    filter: unset
}

button:disabled {
    background-color: var(--btn-color-disable);
    filter: unset
}

.footer_link {
    position: relative;
}

.footer_link:hover img {
    content: url(../static/images/footer_link_hover.svg);
}

.footer_link .tooltip_text {
    visibility: hidden;

    background-color: black;
    text-align: center;

    padding: 5px 10px;
    border-radius: 6px;

    bottom: 60px;
    left: -15px;
    position: absolute;

    z-index: 1;
}

.footer_link .tooltip_text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.footer_link:active .tooltip_text {
    visibility: visible;
}

.footer_facebook:hover img {
    content: url(../static/images/footer_facebook_hover.svg);
}
.footer_twitter:hover img {
    content: url(../static/images/footer_twitter_hover.svg);
}

.share_link {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.share_link h4 {
    font-size: 12px;
    font-weight: 600;
    color: #8E8E94;
}

.share_link a {
    text-decoration:none;
}

.share_link a div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

.share_link img {
    margin-right: 5.5px;
}

#badge {
    position: fixed;
    bottom: 40px;
    right: 40px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}

#menu li {
    border-left: 3px solid transparent;
    transition: ease .2s;
}

#menu li a {
    display: block;
    padding: 10px;

    font-weight: bold;
    color: #000000;

    text-decoration: none;
    transition: ease .2s;
    white-space: pre-wrap;
}

#menu li:focus, #menu li:hover {
    background: #808080;
    border-left: 3px solid #606060;
}

.loading{
    width:100%;
    height: 100%;
    position:fixed;
    left:0px;
    top:115px;
    background: #3A3A3A;
    z-index:1000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:1140px) {
    .contents {
        max-width: 1060px;
        width: 90%;
    }
}

@media (max-width:424px) {
    .header {
        position: relative;
    }

    .loading {
        top: 400px;
        height: calc(100vh - 400px);
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title .header_div {
        order: 2;
        flex-direction: column;
        width: 80%;
    }

    .title .header_icon {
        margin: 22px 0 0 0;
        padding: 22px;
    }

    .title .header_div div {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 52px;
        text-align: center;
    }

    .title .header_div div * {
        padding: 16px 0;
    }

    .title .link {
        order: 1;
        align-self: center;
        margin: 6px 0 6px 0;
    }


    .title .link a:nth-child(1) {
        order: 2;
    }
    .title .link a:nth-child(2) {
        order: 1;
    }
    .title .link a:nth-child(3) {
        order: 1;
    }
    .title .header_div h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .title .header_div p {
        font-size: 14px;
        line-height: 20px;
    }

    .contents {
        flex-direction: column;

        width: 100%;
        margin: 0;
        height: unset;
    }

    .choose_type {
        width: 100%;
    }
    .setting {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .trigger {
        visibility: hidden;
        height: 0;
    }

    .rectangle {
        visibility: visible;
        position:fixed;
        z-index: 2;

        left: 50%;
        transform:translateX(-50%);
        bottom: 40px;
    }

    .editor {
        width: unset;
        padding: 25px;
        height: 500px;
    }

    .share_icon {
        margin-bottom: 16px;
    }

    .share_link {
        flex-direction: column;
        align-items: center;
        margin: 14px 0 100px 0;
    }

    .share_link a {
        margin: 8px 0;
    }

    #badge {
        content: url(../static/images/mobile_badge.svg);
        bottom: 10px;
        right: 10px;
    }

    .nlp_description {
        margin-top: 10px;
    }
}
