<html>
    <head>
        <style>
            #menu {
                display: none;
                position: absolute;
                width: 200px;
                margin: 0;
                padding: 0;
                background: #FFFFFF;
                border-radius: 5px;
                list-style: none;
                box-shadow:
                    0 15px 35px rgba(50,50,90,0.1),
                    0 5px 15px rgba(0,0,0,0.07);
                overflow: hidden;
                z-index: 999999;
            }

            #menu li {
                border-left: 3px solid transparent;
                transition: ease .2s;
            }

            #menu li a {
                display: block;
                padding: 10px;
                color: #000000;
                text-decoration: none;
                transition: ease .2s;
            }

            #menu li:focus {
                background: #CE93D8;
                border-left: 3px solid #9C27B0;
            }
            #menu li:focus a {
                color: #FFFFFF;
            }
        </style>
    </head>
    <body>
        <div class='editor' contenteditable="true" autocomplete="off" autocorrect="off" autocapiatlise="off" spellcheck="false" style="padding: 5px 5px; border: 1px solid black;">What is your</div>


        <select name="model" id="model">
            <option value="gpt2-large">Base</option>
            <option value="gpt2-cover-letter">Cover-Letter</option>
        </select>

        <select name="length" id="length">
            <option value="short">Short</option>
            <option value="long">Long</option>
        </select>
        <ul id="menu">
            <li class="wrap-item" tabindex="1"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="2"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="3"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="4"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="5"><a href="#" class="item"></a></li>
        </ul>
          
    </body>
    <script>
        var idx = 0,       // 탭 번호
            TAB_ON = false; // 탭 활성화

        var editor = document.getElementsByClassName("editor")[0],
            menu = document.getElementById("menu"),
            items  = document.getElementsByClassName("item");

        const KEY_CODE = {"TAB" : 9, "UP" : 38, "DOWN" : 40, "ENTER" : 13};

        document.onkeydown = function(){
            const key = event.keyCode;

            // 탭을 누를 때, 5개의 추천 단어 활성화
            if(key == KEY_CODE.TAB){
                const select_model = document.getElementById("model");
                const select_length = document.getElementById("length");

                const model = select_model.options[select_model.selectedIndex].value;
                const length = select_length.options[select_length.selectedIndex].value;


                let formData = new FormData();

                formData.append("context", editor.innerText);
                formData.append("model", model);
                formData.append("length", length);

                fetch("/gpt2",
                    {
                        method: "POST",
                        body: formData,
                    }
                )
                .then(response => {
                    if ( response.status == 200 ){
                        return response;
                    }
                    else{
                        throw Error("gpt2-word error");
                    }
                })
                .then(response => response.json())
                .then(response => {
                    menu = document.getElementById("menu");
                    items = document.getElementsByClassName("item");

                    // Response를 팝업 메뉴의 글씨로 설정
                    for(let i=0; i<items.length; i++){
                        items[i].innerHTML = response[i];
                    }
                    
                    if(typeof window.getSelection != "undefined"){
                        (function PopupShow(){
                            // 커서의 위치 Get
                            const selection = window.getSelection().getRangeAt(0);
                            const boundingClientRect = selection.getBoundingClientRect();

                            const clientRects = selection.getClientRects();
                            // 커서의 왼쪽, 위를 기준으로 메뉴 팝업 설정
                            const cur_left = String(clientRects[0].left) + "px";
                            const cur_top = String(clientRects[0].top + 23) + "px";

                            // Tab을 누를 경우, 팝업 메뉴가 뜸 ( 커서의 위치를 기준으로 )
                            menu.style.left = cur_left;
                            menu.style.top = cur_top;
                            menu.style.display = "block";
                        })();

                        TAB_ON = true;
                        idx = 0;

                        document.getElementsByClassName("wrap-item")[idx].focus();
                    }
                })
                .catch(e =>{
                });

                // 주소창 focus를 막기
                event.preventDefault();
            }

            // TAB 활성화 && ENTER 혹은 (UP, DOWN을 제외한 나머지 키들)
            else if(TAB_ON == true && (key == KEY_CODE.ENTER || (key != KEY_CODE.UP && key != KEY_CODE.DOWN))){
                // ENTER 누를 때, 에디터에 해당 글자 대입
                if(key == KEY_CODE.ENTER){
                    wrap_items = document.getElementsByClassName("wrap-item");

                    editor.innerText += wrap_items[idx].innerText;
                }
                // 커서 이동 마지막 문자로,
                setCurrentCursorPosition(editor.innerText.length);

                // 커서 이동 후, 다음 줄 넘어가는 것을 방지
                event.preventDefault();

                // 탭 비활성화
                menu.style.display = "none";
                idx = 0;
                TAB_ON = false;
            }
            // TAB 활성화 && UP 혹은 DOWN
            else if(TAB_ON == true && (key == KEY_CODE.UP || key == KEY_CODE.DOWN)){
                // 해당 아이템 포커싱
                wrap_items = document.getElementsByClassName("wrap-item");

                if(key == KEY_CODE.UP && idx > 0) idx--;
                else if(key == KEY_CODE.DOWN && idx < 4) idx++;

                wrap_items[idx].focus();
            }
        };



        function createRange(node, chars, range) {
            if (!range) {
                range = document.createRange()
                range.selectNode(node);
                range.setStart(node, 0);
            }

            if (chars.count === 0) {
                range.setEnd(node, chars.count);
            } 
            else if (node && chars.count > 0) {
                if (node.nodeType === Node.TEXT_NODE) {
                    if (node.textContent.length >= chars.count) {
                        range.setEnd(node, chars.count);
                        chars.count = 0;
                    }
                } 
                else {
                    for (var lp = 0; lp < node.childNodes.length; lp++) {
                        range = createRange(node.childNodes[lp], chars, range);

                        if (chars.count === 0) {
                            break;
                        }
                    }
                }
            }

            return range;
        };

        function setCurrentCursorPosition(chars) {
            if (chars >= 0) {
                var selection = window.getSelection();

                range = createRange(editor.parentNode, {
                    count: chars
                });

                if (range) {
                    range.collapse(false);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            }
        };

    </script>
</html>