<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <style>
        </style>
    </head>
    <body>
        <div id="desktop">
            <div id="header">
                <div id="title">
                    <svg width="57" height="58" viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M47.215 19.3817L42.75 29.1667L38.285 19.3817L28.5 14.9167L38.285 10.4517L42.75 0.666656L47.215 10.4517L57 14.9167L47.215 19.3817Z" fill="white"/>
                        <path d="M19 19.6667L24.9375 32.7291L38 38.6667L24.9375 44.6041L19 57.6666L13.0625 44.6041L0 38.6667L13.0625 32.7291L19 19.6667Z" fill="white"/>
                    </svg>
                    <div id="text">
                        <h1 id="text_h1">AI writer with Ainize</h1>
                        <p id="text_p">a smart machine that completes your thoughts.</p>
                    </div>
                </div>
                <div id="line"></div>
            </div>

            <div id="contents">
                <div id="choose_type">
                    <div id="setting">
                        <div id="autocomplete_type">
                            <p id="autocomplete_type_text">Autocomplete Type</p> 
                            <div id="option">
                                <p id="group_1"><input type="radio" name="length" value="short" id="radio_short" checked="checked"><p id="text_short">Short</p></p>
                                <p id="group_2"><input type="radio" name="length" value="long" id="radio_long"><p id="text_long">Long</p></p>
                            </div>
                        </div>

                        <div id="choose_theme">
                            <p id="choose_theme_text">Choose Theme</p>
                            <select name="model" id="model" onchange="showDescription(this)">
                                <option value="gpt2-large" selected>Base</option>
                                <option value="gpt2-cover-letter">Cover-Letter</option>
                                <option value="gpt2-reddit">Reddit</option>
                                <option value="gpt2-story">Story</option>
                                <option value="gpt2-ads">Ads</option>
                                <option value="gpt2-business">Business</option>
                                <option value="gpt2-film">Flim</option>
                                <option value="gpt2-trump">Trump</option>
                            </select>
        
                            <div id="description">This is the basic model in GPT-2.<br><br>
                                Today, scientists confirmed the worst possible outcome: the massive asteroid will collide with Earth<u style='background-color: blue'>.</u><br>
                                <u style='background-color: blue'>They have called this asteroid one of the most likely near-planet collisions in history.</u>
                            </div>
                            <div id="trigger">
                                <div id="rectangle">
                                    <p id="rectangle_text">Run autocomplete</p>
                                </div>
                                <p id="or">or</p>
                                <div id="rectangle_tab">
                                    <p id="rectangle_tab_text">Tab</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='editor' contenteditable="true" autocomplete="off" autocorrect="off" autocapiatlise="off" spellcheck="false">What is your</div>
            </div>
        </div>

        <ul id="menu">
            <li class="wrap-item" tabindex="1"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="2"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="3"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="4"><a href="#" class="item"></a></li>
            <li class="wrap-item" tabindex="5"><a href="#" class="item"></a></li>
        </ul>

        <script type="text/javascript" src="../static/index.js"></script>
    </body>
</html>